.detail_wrap{
    display: flex;
    flex-flow: column;
    height: 36.46vh;

}
 .d_title{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
     height: 8vh;
     width: 100%;
     align-items: center;
    /* background: #d2453c;*/
}
 .d_title i{
     background: url("../images/bg.png") no-repeat;
     width: 7vw;
     height: 3.7vh;
     margin-left: 5.5vw;

 }
.d_title h2{
    margin-left: 5vw;
    font-weight: normal;
    font-size: 5vw;
    color: #fff;
}

.detail_wrap .cover{
    padding: 10vh 5.5vw 3vh 5.5vw;
    display: flex;
    height: 20.83vh;
    position: relative;

}
.detail_wrap .cover .bg_player{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:url("../images/timg.jpg") no-repeat;
    background-size: cover;
    background-position:100% 100% ;
    filter: blur(40px);
    z-index: -1;
}
.detail_wrap .cover>a{
    height: 100%;

}

.detail_wrap .cover>a img{
    height: 100%;
    width: auto;
}
.detail_wrap .cover .info{
    align-self: flex-start;
    display: flex;
    flex-flow: column;
    margin-top: 1vh;
    margin-left: 5.5vw;
}
.detail_wrap .cover .info p{
    margin-bottom: 4vh;
    font-size: 4vw;
    color: #fff;
    font-family: "Microsoft YaHei";
}
.detail_wrap .cover .info>div{
    display: flex;
    align-items: center;
    font-size: 3vw;
    color: #e1dbda;
}
.detail_wrap .cover .info a{
    display: block;
    border-radius: 50%;
    overflow: hidden;
    height: 4.67vh;
    margin-right: 1.4vw;

}
.detail_wrap .cover .info a img{
    height: 100%;
    width: auto;
}
.detail_wrap .cover .info i{
    font-family: Consolas;
    font-size: 3.5vw;
    font-style: normal;
}
.playMusic{
    display: flex;
    height: 7.7vh;
    background: #f2f4f5;
    align-items: center;
    border-bottom: 1px solid #dadcdd;
}
.playMusic h3{
    margin-left: 4vw;
    font-size: 4vw;
    font-family: "Microsoft YaHei";
    color: #303131;
}
#musicList{
    display: flex;
    flex-direction: column;
}
#musicList li{
    height: 8.54vh;
    display: flex;

}
#musicList li span{
    flex:0 0 13.89%;
    align-self: center;
    text-align: center;
    color: #919293;
    font-size: 3vw;
}
#musicList li div{
    flex: 0 0 86.11%;
    padding: 1vh 0 0.7vh 0;
    border-bottom:1px solid #dadcdd;

/*    width: 0;
    overflow: hidden;*/
    /*display: flex;
    flex-direction: column;
    */
}
#musicList li .music{
    line-height: 3.54vh;
    height: 3.54vh;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 0;
    width: 95%;
    font-size: 4vw;
    font-weight: bold;
    color: #303131;
    font-family: Arial,"Microsoft YaHei";
}
#musicList li .artist{
    line-height: 3.2vh;
    height: 3.2vh;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 0;
    width: 95%;
    font-size: 2.5vw;
    color: #797a7b;
}
