.home_wrap{
    display: flex;
    width: 100vw;
    flex-flow: column nowrap;
    height: auto;
    position: relative;
}

#songlist{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    height: 0;
}

#songlist .item{
    width: 33%;
    position: relative;
}
#songlist .item .icon{
    position: absolute;
    width: 100%;
    height: 10%;
    background: rgba(0,0,0,0.3);
    top: 0;
    right:0;
    text-align: right;
    color: #fff;
    font-size: 2.7vw;
    font-family: "Microsoft YaHei";
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}
#songlist .item .icon span{
    margin-right: 5%;
}
#songlist .item p{
    padding: 0.9vh 1.6vw 3.2vh 1.6vw;
    font-size: 3vw;
    line-height: 2.5vh;
    color: #000;
    font-family: "SimHei";
    width: 29.63vw;
    height: 4.89vh;
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp:2;
    -webkit-box-orient: vertical;

}
img.auto{/*图片自适应：一定要使用前景图*/
    width: 100%;
    height: auto;
    /*最大宽度设置：防止图片过大*/
}
.icons{
    flex: 1;
    display: flex;
    justify-content: center;
    height: 15vh;
    align-items: center;
    border-bottom: 1px solid #dadcdd;
}
.icons div{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    font-size: 3vw;
}
.icons div:nth-child(2){
    margin-left: 14.833%;/*16.481%;*/
    margin-right: 13.166%;
}
.icons a{
   text-align: center;
}
.icons a img{
    width: 8vh;
    height: 8vh;

}
.icons span{
    text-align: center;
    color: #303131;
    font-family: "Microsoft YaHei";
}
.title{
    display: flex;
    height: 6.8vh;
    align-items: center;
}
.title span{

    width: 0.55vw;
    height: 2.29vh;
    background-color: #d2453c;
}
.title h2{
    margin-left: 2%;
    margin-right: 2%;
    font-size: 4vw;
    color: #303131;
    font-family: "Microsoft YaHei";
}
.title i{
    font-family: Consolas;
    font-style: normal;
    font-size: 5vw;
    color: #98999a;
}

/*----轮播图-----*/

#home_banner{
    width: 100vw;

    height: auto;
}

#banner-pic a{
    position: absolute;
    top: 0;

}
.papa{
    position: relative;
    width: 100vw;
}
#banner-pic a img{
    width: 100vw;
    height: auto;
}
#banner-nav{
    position: absolute;
    z-index: 99999;
    left: 50%;
    transform: translateX(-50%);
    bottom:6%;
    color: #fff;
}
#banner-nav span{
    display: inline-block;
    width: 2vw;
    height: 2vw;
    border-radius: 50%;
    background: #919293;
    margin-right: 1.5vw;
}
#banner-nav .normal{
    background: #919293;
}
#banner-nav .current{
    background: #d2453c;
}
/*----------------------------------------------*/

