.m_banner{
    display: flex;
    height: 15vh;
    width: 100;
    padding: 2vh 2.8vw 4vh 2.8vw;
    flex-wrap: nowrap;
    background: #514640;
    justify-content: flex-start;
}
.m_banner a{
    flex: 0 0 25%;
    height: 100%;
    margin-right: 3%;

}
.m_banner a>img{
    height: 100%;
    width: auto;
}

.m_banner .con{
   flex: 0 0 65%;

}
.m_banner .con .m_title{
    display: flex;
    align-items: center;
    height: 5.8vh;
    background: url("../images/m_icon.png") no-repeat ;
    background-position-y: 50%;
}
.m_banner .con .m_title h3{
    font-size: 4.6vw;
    line-height: 5.8vh;
    height: 5.8vh;
    color: #fff;
    margin-right: 1.85vw;
    margin-left: 10vw;
    font-family: "Microsoft YaHei";
}
.m_banner .con .m_title span{
    font-size: 5vw;
    color: #aaa29c;
    font-family: Consolas;
}
.m_banner .con p{
    font-size: 3.7vw;
    color: #fff;
    line-height: 3.75vh;
    height: 3.75vh;
}
.m_banner .con>span{
    font-size: 2.8vw;
    color: #aaa39f;
    line-height: 3.75vh;
    height: 3.75vh;
}
.m_nav{
    display: flex;
    padding-left: 2.96vw;
    justify-content: space-between;
    height: 10vh;
    align-items: center;
}
.m_nav .title{
    color: #303131;
    width: 26.66%;
    border: 1px solid #d0d2d2;
    height: 45%;
    border-radius: 10vw 10vw;
    font-size: 3.3vw;
    display: flex;
    justify-content: center;
}
.m_nav .title h3{
    margin-right: 8%;
}
.m_nav .menu{
    display:flex;
    flex-flow: row nowrap;
    width: 37%;
    height: 50%;
    align-items: center;
}
.m_nav .menu li{
    flex: 1;
    text-align: center;
    border-right: 1px solid #dadcdd;

}
.m_nav .menu .last{
    border-right: none;
}
.m_nav .menu li a{
    font-size: 3.5vw;
    color: #616262;

}
#musiclist{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
#musiclist .item{
    width: 49.5%;
    position: relative;
}
#musiclist .item .icon{
    position: absolute;
    width: 100%;
    height: 10%;
    background: rgba(0,0,0,0.3);
    top: 0;
    right:0;
    text-align: right;
    color: #fff;
    font-size: 2.7vw;
    font-family: "Microsoft YaHei";
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}
#musiclist .item .icon span{
    margin-right: 5%;
}
#musiclist .item p{
    padding: 0.9vh 1.6vw 3.2vh 1.6vw;
    font-size: 4vw;
    line-height: 2.5vh;
    color: #000;
    font-family: "SimHei";
    /*width: 29.63vw;*/
    height: 4.89vh;
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp:2;
    -webkit-box-orient: vertical;
}

#musiclist img.auto{/*图片自适应：一定要使用前景图*/
    width: 100%;
    height: auto;
    /*最大宽度设置：防止图片过大*/
}

