<div id="music_player">

    <audio id="audio"></audio>

    <div class="music_info">
        <img src="" alt="" id="player_pic">
        <div id="player_info">
            <div id="audio_name"></div>
            <div id="audio_author"></div>
        </div>
    </div>

    <div id="audio_icons">
        <a href="#" class="more"><img src="images/playbar_btn_playlist.png" alt=""></a>
        <a href="#" class="play_pause"><img src="images/playbar_btn_play.png" alt=""></a>
        <a href="#" class="next"><img src="images/playbar_btn_next.png" alt=""></a>
    </div>

</div>
