<div class="charts_wrap">
    <div class="charts_title">
        <span></span>
        <h2>官方榜</h2>
    </div>
    <div id="charts_list">

       <!-- 模板-->
            <div class="music_list" style="display: none">
                <div class="item">
                    <a href="#"><img src="" alt="" class="cover"></a>
                    <ul class="charts_info">
                        <li><a href="#"></a></li>
                        <li><a href="#"></a></li>
                        <li><a href="#"></a></li>
                    </ul>
                </div>
            </div>


        <div class="singer_list" style="display: none">
            <div class="item">
                <a href="#"><img src="" alt=""></a>
                <ul class="charts_info">
                    <li><a href="#"></a><span></span></li>
                    <li><a href="#"></a><span></span></li>
                    <li><a href="#"></a><span></span></li>
                </ul>
            </div>
        </div>

    </div>
    <br>
    <br>
    <br>
</div>