<div class="d_title">
    <a href="" id="a_link"><img src="images/bg.png" alt=""></a>
    <h2>歌单</h2>
</div>
<div class="detail_wrap">
    <div class="cover">
        <a href="#"><img src="" alt="" id="coverImg"></a>
        <div class="info">
            <p class="cd_name"></p>
            <div>
                <a href="#" onclick="window.history.back();"><img src="images/18752170813399049.jpg" alt="" class="creatorImg"></a>
                <span class="nickname"></span>
                <i>></i>
            </div>
        </div>
        <div class="bg_player"></div>
    </div>
</div>

<div class="playMusic">
    <i></i>
    <h3>播放歌曲</h3>
</div>

<ol id="musicList"></ol>
<br>
<br>
<br>


<div id="templateMusic" style="display: none">
    <li>
        <span></span>
        <div>
            <p class="music"></p>
            <p class="artist"></p>
        </div>

    </li>
</div>