<div class="home_wrap">

        <!-- 图片集 -->
        <div class="papa">
            <img src="images/banner_01.jpg" alt="" id="home_banner">
            <div id="banner-nav"><!-- 导航按钮 -->
                <span class="current"></span>
                <span></span>
                <span ></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <div id="banner-pic">

            <a href="#"><img src="images/banner_01.jpg"></a>
            <a href="#"><img src="images/banner_02.jpg"></a>
            <a href="#"><img src="images/banner_03.jpg"></a>
            <a href="#"><img src="images/banner_04.jpg"></a>
            <a href="#"><img src="images/banner_05.jpg"></a>
        </div>



    <!--<img class="auto" src="images/banner_01.jpg" alt="">&lt;!&ndash;&lt;!&ndash;图片路径是以index的位置为准&ndash;&gt;&ndash;&gt;-->
    <div class="icons">
        <div><a href="#"><img src="images/icon_03.jpg" alt="" class="icon"></a><span>私人FM</span></div>
        <div><a href="#"><img src="images/icon_05.jpg" alt="" class="icon"></a><span>每日歌曲推荐</span></div>
        <div><a href="#"><img src="images/icon_07.jpg" alt="" class="icon"></a><span>云音乐热歌榜</span></div>
    </div>
    <div class="title">
        <span></span>
        <h2>推荐歌单</h2>
        <i>></i>
    </div>
    <div id="songlist">
    </div>
    <br>
    <br>
    <br>
</div>


<!--自定义模板，方便jquery调用-->
<template style="display: none">
    <div class="item" >
        <!--传入参数?id=635498296会导致当前页面刷新，刷新以后仍停留在当前页面，为防止页面刷新，一定要加上#
            一般#后面加上跳转页面的参数如/detail【锚点#传参！！！！】
        -->
        <a href="#/detail?id=635498296" onclick="route('detail')">
            <img src="images/109951162865227946.jpg" alt="" class="auto">
            <div class="icon"><i></i><span></span></div>
            <p></p>
        </a>
    </div>
</template>